@import "variables";

body.editor {
    .pure-menu.pure-menu-horizontal .pure-menu-children .pure-menu-item input[type="number"] {
        flex: 0 0 auto;
        width: 100px;
    }
    .main .controls button {
        &#walls {
            background-image: url('/images/wall.png');
        }
        &#finish {
            background-image: url('/images/finish.png');
        }
        &#robot {
            &.right {
                background-image: url('/images/robot_r.png');
            }
            &.left {
                background-image: url('/images/robot_l.png');
            }
            &.up {
                background-image: url('/images/robot_u.png');
            }
            &.down {
                background-image: url('/images/robot_d.png');
            }
        }
    }
}
