@import "variables";

body.editor {
    .pure-menu.pure-menu-horizontal {
        .pure-menu-item #solve {
            background-color: $solve-bg;
            &:hover {
                background-color: $solve-bg-highlight;
            }
            &.bad {
                background-color: $button-bg-bad;
                &:hover {
                    background-color: $button-bg-bad-highlight;
                }
            }
        }
        .pure-menu-children .pure-menu-item input[type="number"] {
            flex: 0 0 auto;
            width: 100px;
        }
    }
    .main .controls {
        &-robot {
            width: 100px;
            height: 100px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .control {
            &#walls {
                background-image: url('/images/wall.png');
            }
            &#finish {
                background-image: url('/images/finish.png');
            }
            &#robot {
                &.right {
                    background-image: url('/images/robot_r.png');
                }
                &.left {
                    background-image: url('/images/robot_l.png');
                }
                &.up {
                    background-image: url('/images/robot_u.png');
                }
                &.down {
                    background-image: url('/images/robot_d.png');
                }
            }
        }
    }
    footer.status-display span {
        &#status {
            font-size: 4.5em;
            flex: 1 1 auto;
        }
        &.solvable {
            display: none;
        }
    }
}
