@import "variables";

body.play {
    footer.status-display span {
        &#status {
            font-size: 2em;
            flex: 1 1 auto;
        }
        &.solvable {
            flex: 0 0 auto;
            margin: 0.5em 0;
        }
    }
    .main .controls .control {
        width: 50px;
        height: 50px;
        &#start {
            background-image: url('/images/start.png');
        }
        &#stop {
            background-image: url('/images/stop.png');
        }
    }
}
