$navbar-bg: #011627;
$navbar-text: #f6f7f8;
$navbar-bg-highlight: #182b3a;
$navbar-bg-pressed: #2f404e;
$pink: #ff83a2;
$finish-blue: #20a4f3;
$solve-bg: #39b54a;
$solve-bg-highlight: #5dc26a;
$button-bg-bad: #f72c25;
$button-bg-bad-highlight: #f8524c;
$main-bg: #bbddfa;
$canvas-bg: #deebf2;